<footer>
    <div class="footer-top">
        <div class="footer-credit">
            <span>By <a href="https://ignatha.github.io">Ignatha Prabowo</a></span>
            <ul>
                <li>
                    <a href="https://www.ignatha.com">Blog</a>
                </li>
                <li>
                    <a href="https://github.com/ignatha">Github</a>
                </li>
                <li>
                    <a href="mailto:prabowoid.2@gmail.com">Email</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright @2023 Ignatha.com<br>All Rights Reserved</p>
    </div>
</footer>