{{ define "main" }}
<div class="w-full">
    <!-- section1 -->
    <div id="about"  class="w-full bg-[#f0f1f7] flex pt-8">
        <div class="w-full md:max-w-[1080px] m-auto flex md:flex-row flex-col" >
            <div class="w-full md:w-[50%] flex flex-wrap flex-col justify-start align-middle p-4">
                <h1 class="text-[#050748] text-[3rem] font-bold" style="font-family: 'Jost';" >Hey ! I Am</h1>
                <h1 class="text-[#fdb081] text-[3rem] font-bold" style="font-family: 'Jost';" >Prapbowo Ignatha</h1>
                <p class="text-justify mb-8 text-[#5f5f73]">I Graduated from Universitas Muhammadiyah Sidoarjo with an Informatic Technology Bachelor. I have five years of experience as a Website programmer. Familiar with Website Tools development in Php, Javascript, Python, and Framework.</p>
                <a href="mailto:prabowoid.2@gmail.com" target="_blank" class="w-[150px] capitalize p-4 rounded-full button flex flex-row justify-between" style="background: linear-gradient(90deg,#c278fb,#f973ff);" ><span>Contact Me </span><i class="w-[20px]"><svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                  </svg>
                </i>
                </a>
            </div>
            <div class="w-full md:w-[50%] hidden md:flex flex-wrap justify-center p-4">
                <img class="w-full max-w-[557px]"  src="/img/student.png" alt="image">
            </div>
        </div>
    </div>

    <!-- section2 -->
    <div id="education" class="w-full bg-[#f0f1f7] flex pt-8">
        <div class="w-full max-w-[1080px] m-auto flex md:flex-row flex-col" >
            <div class="w-full md:w-[50%] hidden md:flex flex-wrap justify-center p-4">
                <img class="w-full max-w-[557px]"  src="/img/mail.svg" alt="image">
            </div>
            <div class="w-full md:w-[50%] flex flex-wrap flex-col justify-start align-middle p-4">
                
                <h1 class="text-[#fdb081] text-[3rem] font-bold" style="font-family: 'Jost';" >Education</h1>
                
                <ol class="relative border-l border-[#050748]">                  
                    <li class="mb-10 ml-6">            
                        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 dark:ring-gray-900 dark:bg-blue-900">
                            <svg aria-hidden="true" class="w-3 h-3 text-blue-800 dark:text-blue-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        </span>
                        <h3 class="flex items-center mb-1 text-lg font-semibold text-[#050748]">Universitas Muhammadiyah Sidoarjo<span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ml-3">Latest</span></h3>
                        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">May 18th, 2023</time>
                        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Informatic Technology</p>
                    </li>
                    <li class="mb-10 ml-6">
                        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 dark:ring-gray-900 dark:bg-blue-900">
                            <svg aria-hidden="true" class="w-3 h-3 text-blue-800 dark:text-blue-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        </span>
                        <h3 class="mb-1 text-lg font-semibold text-[#050748]">SMKN 3 Buduran Sidoarjo</h3>
                        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2014</time>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Computer and Network Engineering</p>
                    </li>
                </ol>


            </div>
        </div>
    </div>

    <!-- section3 -->
    <div id="interest" class="w-full bg-[#f0f1f7] flex pt-8">
        <div class="w-full max-w-[1080px] m-auto flex md:flex-row flex-col" >
            <div class="w-full flex flex-wrap flex-col justify-center align-middle p-4">
                
                <h1 class="text-[#fdb081] text-[3rem] font-bold text-center" style="font-family: 'Jost';" >Interest</h1>
                
                <div class="w-full flex flex-col md:flex-row justify-center">
                    <div class="block max-w-sm p-6 m-8 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Web Developer</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400 text-justify">As a Web developer use coding languages like  HTML, CSS, JavaScript, and Python to build websites and web applications.</p>
                    </div>

                    <div class="block max-w-sm p-6 m-8 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Digital Marketing</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400 text-justify">Digital marketing is a means of advertising and selling products through the internet, mobile devices, social media, search engines, display advertising.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- section4 -->
    <div id="skills" class="w-full bg-[#f0f1f7] flex pt-8">
        <div class="w-full max-w-[1080px] m-auto flex md:flex-row flex-col" >
            <div class="w-full flex flex-wrap flex-col justify-center align-middle p-4">
                
                <h1 class="text-[#fdb081] text-[3rem] font-bold text-center" style="font-family: 'Jost';" >Skills</h1>
                
                <div class="slider w-full flex flex-row justify-center">
                    <div class="block max-w-[50px] p-6 mx-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: -webkit-center;" >
                        <img src="https://img.icons8.com/color/48/null/css3.png" class="w-[40px] rounded-full" alt="Css">
                        <h5 class="mb-2 text-base font-normal text-center tracking-tight text-gray-900 dark:text-white">CSS</h5>
                    </div>

                    <div class="block max-w-[50px] p-6 mx-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: -webkit-center;" >
                        <img src="https://img.icons8.com/color/48/null/html-5--v1.png" class="w-[40px] text-center rounded-full " alt="HTML">
                        <h5 class="mb-2 text-base font-normal text-center tracking-tight text-gray-900 dark:text-white">HTML</h5>
                    </div>

                    <div class="block max-w-[50px] p-6 mx-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: -webkit-center;" >
                        <img src="https://img.icons8.com/color/48/null/python--v1.png" class="w-[40px] text-center rounded-full " alt="SQL">
                        <h5 class="mb-2 text-base font-normal text-center tracking-tight text-gray-900 dark:text-white">SQL</h5>
                    </div>

                    <div class="block max-w-[50px] p-6 mx-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: -webkit-center;" >
                        <img src="https://img.icons8.com/color/48/null/tailwind_css.png" class="w-[40px] text-center rounded-full " alt="Tailwind">
                        <h5 class="mb-2 text-base font-normal text-center tracking-tight text-gray-900 dark:text-white">Tailwind</h5>
                    </div>

                    <div class="block max-w-[50px] p-6 mx-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: -webkit-center;" >
                        <img src="https://img.icons8.com/color/48/null/bootstrap.png" class="w-[40px] text-center rounded-full " alt="Bootstrap">
                        <h5 class="mb-2 text-base font-normal text-center tracking-tight text-gray-900 dark:text-white">Bootstrap</h5>
                    </div>

                    <div class="block max-w-[50px] p-6 mx-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: -webkit-center;" >
                        <img src="https://img.icons8.com/color/48/null/git.png" class="w-[40px] text-center rounded-full " alt="Git">
                        <h5 class="mb-2 text-base font-normal text-center tracking-tight text-gray-900 dark:text-white">Git</h5>
                    </div>

                    <div class="block max-w-[50px] p-6 mx-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: -webkit-center;" >
                        <img src="https://img.icons8.com/color/48/null/javascript--v1.png" class="w-[40px] text-center rounded-full " alt="JavaScript">
                        <h5 class="mb-2 text-base font-normal text-center tracking-tight text-gray-900 dark:text-white">JavaScript</h5>
                    </div>

                    <div class="block max-w-[50px] p-6 mx-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: -webkit-center;" >
                        <img src="https://www.freepnglogos.com/uploads/php-logo-png/php-logo-png-transparent-svg-vector-bie-supply-1.png" class="w-[40px] text-center rounded-full " alt="PHP">
                        <h5 class="mb-2 text-base font-normal text-center tracking-tight text-gray-900 dark:text-white">PHP</h5>
                    </div>

                    <div class="block max-w-[50px] p-6 mx-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: -webkit-center;" >
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/985px-Laravel.svg.png" class="w-[40px] text-center rounded-full " alt="Laravel">
                        <h5 class="mb-2 text-base font-normal text-center tracking-tight text-gray-900 dark:text-white">Laravel</h5>
                    </div>
                    

                </div>

            </div>
        </div>
    </div>

    <!-- section5 -->
    <div id="portfolio" class="w-full bg-[#f0f1f7] flex pt-8">
        <div class="w-full max-w-[1080px] m-auto flex md:flex-row flex-col" >
            <div class="w-full flex flex-wrap flex-col justify-center align-middle p-4">
                
                <h1 class="text-[#fdb081] text-[3rem] font-bold text-center" style="font-family: 'Jost';" >Experience / Portfolio</h1>
                
                <div class="w-full flex flex-row justify-center">
                    <div class="block max-w-xl p-6 m-8 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <a href="https://ignatha.com"><img src="/img/blog.png" class="w-full rounded mb-4" alt="blog"></a>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="https://ignatha.com">Ignatha Blog</a></h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400 text-justify">A personal blog about website programming would be a specific type of personal blog focused on the experiences, knowledge, and insights of a website programmer. This type of blog would be dedicated to sharing information, tips, tutorials, and discussions related to website development, coding, programming languages, frameworks, tools, and best practices.</p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- section1 -->
    <div id="contact" class="w-full bg-[#f0f1f7] pt-8">
        <div class="w-full max-w-[1080px] m-auto pb-24" >
            <div class="w-full max-w-[700px] m-auto p-4">
                <h1 class="text-[#fdb081] text-[3rem] font-bold text-center" style="font-family: 'Jost';" >Contact Me</h1>

                    <form class="w-full" action="https://fabform.io/f/YRa7f63" method="post">
                        <input name="userName" type="text" class="w-full md:w-[70%] border-0 mb-4 rounded" placeholder="Full Name" required>
                        <input name="email" type="email" class="md:w-[70%] w-full border-0 mb-4 rounded" placeholder="Email" required>
                        <textarea name="msg" id="msg" class="w-full border-0 mb-4 rounded" cols="15" placeholder="Your Message" rows="10"></textarea>
                        <button class="button is-link w-[150px] capitalize p-4 rounded-full button flex flex-row justify-between" style="background: linear-gradient(90deg,#c278fb,#f973ff);" type="submit"><span>Send </span><i class="w-[20px]"><svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                          </svg>
                        </i></button>
                      </form>
    
            </div>

        </div>
        
        
    </div>

</div>
{{ end }}