// VAR

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_syntax.scss';

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$mobile: 500px;

body {
    color: #313033;
}

.button:hover {
  background: linear-gradient(90deg,#fb7878 0%,#ffaf74)!important;
}

header {
    color: #313033;

    h1 {

        border-bottom: solid 2px #313033;
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {

  .dot-hover:after{
    content: "\A";
    width: 20px;
    height: 1px;
    background: #FFF740;
    display: none;
    position: relative;
    margin: auto;
  }

  .dot-hover:hover:after{
    display: block;
  }

  .dot-hover.active:after{
    display: block;
  }

  .dot-hover.active{
    color: #FFF740 !important;
  }
  
}


#content-wrap {

    color: #313033;
    margin-bottom: 3rem;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 3rem;

    a {
      color: #4934b2;
      text-decoration: underline;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        text-align: justify;
    }

    h1 {
        font-size: 24px;
        line-height: 0.8;
        font-weight: bold;
        margin: 1rem 0 1rem 0;
    }

    h2 {
        font-size: 22px;
        line-height: 0.8;
        font-weight: bold;
        margin: 1rem 0 1rem 0;
    }

    h3 {
        font-size: 18px;
        line-height: 1.8;
        font-weight: bold;
        margin: 1rem 0 1rem 0;
    }

    img {
        text-align: center;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    iframe {
        width: 100%;
        min-height: 500px;
        border: #313033 solid 1px;
        padding: 0.5rem;
        margin-top: 1rem;
    }

    ol {
        list-style-type: decimal !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
        li {
            margin-left: 1rem;
            line-height: 2rem;
        }
    }

    figcaption {
        color: #313033;
        font-size: 12px;
        font-weight: 300;
    }

    blockquote {
        background-color: #f5f5f5;
        width: 100%;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 12px;
        font-style: italic;
    }

    ul {
        list-style: disc;
        margin-left: 20px;
    }

    .table-content-wrap {

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
            margin-top: 2rem;
          }
          
          table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
          }
          
          table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
          }
          
          table th,
          table td {
            padding: .625em;
            text-align: left;
          }
          
          table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
          }
          
          @media screen and (max-width: 600px) {
            table {
              border: 0;
            }
          
            table caption {
              font-size: 1.3em;
            }
            
            table thead {
              border: none;
              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              width: 1px;
            }
            
            table tr {
              border-bottom: 3px solid #ddd;
              display: block;
              margin-bottom: .625em;
            }
            
            table td {
              border-bottom: 1px solid #ddd;
              display: block;
              font-size: .8em;
              text-align: right;
            }
            
            table td::before {
              /*
              * aria-label has no advantage, it won't be read inside a table
              content: attr(aria-label);
              */
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
            
            table td:last-child {
              border-bottom: 0;
            }
          }

    }
    

}

.highlight {

    margin: 1rem 0 1rem 0;

    div:nth-child(1) {
        padding: 1rem;
        overflow: scroll;
    }
}

#sidebar-wrapper {
    div.wrapper-siderbar {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 1rem;

        .support-container {
            border-bottom: none !important;
            padding-bottom: 0 !important;
        }

        h3 {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            font-size: 1.5rem;
            font-weight: 800;
            color: #313033;
        }

        h3:hover {
            color: #4934b2;
        }

        ul {
            list-style: none;

            li {
                padding: 0.5rem;

                a {
                    font-size: 0.875rem;
                    font-weight: 400;
                    display: block;

                    i {
                        font-style: italic;
                        font-size: x-small;
                        padding: 2px;
                        color: #313033;
                    }
                }                
            }

            li:hover {
                background-color: #313033;
                color: #eee;

                i {
                    font-style: normal;
                    border-radius: 37%;
                    background-color: rgb(255, 255, 255);
                    padding: 2px;
                    color: #313033;
                }
            }

        }
    }

    div:hover {
        background-color: #eee;
    }
}

#disqus-container {
    button {
        font-size: 1rem;
        width: 100%;
        padding: 1.5rem;
        color: #313033;
        border: #313033 2px solid;
    }

    button:hover {
        background-color: #313033;
        color: #cccccc;
    }
}




#disqus-comments {
    display: none;
}

#disqus-comments,
#disqus-comments iframe {
    height: auto;
}

// breadcrumbs

.breadcrumb-container {

    ul {

        li {
            color: #313033;
            font-size: 14px;
            line-height: 1rem;
            font-weight: 300;
            display: inline-block;
        }

        li::before {
            content: ">";
            display: inline-block;
            margin: 0 0.25rem;
            color: #313033;
            font-size: small;
        }

        li:first-child:before {
            content: none;
        }
    }

}

// TAGS

.tags-container {
    width: 100%;
    a {
        display: inline-block;
        margin-top: 5px;
    }
}

footer {
    width: 100%;
    background-color: #313033;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;


    .footer-top { 
        width:100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: $mobile) {
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        .footer-credit{
            width: 100%;
            padding: 1rem;
            text-align: center;
            span {
                font-size: 1.5rem;
                color: white;
                font-weight: 700;
                a{
                    color: white;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            
            .image-footer {
                width: 8rem;
                margin: auto;
                margin-top: 1rem;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                }
            }

            ul {
                text-align: center;
                width: 100%;
                color: white;
                font-size: 0.875rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                list-style: none;

                li {
                    display: inline-block;
                    margin-right: 1rem;
                }
                li:last-child {
                    display: inline-block;
                    margin-right: 0 !important;
                }
            }

        }
        .footer-support {
            padding: 1rem;
            font-size: 1.5rem;
            color: white;
            font-weight: 700;

            .support {
                display: flex;
                flex-direction: row;
                justify-content: left;
                width: 100%;
                margin-top: 1rem;

                @media screen and (max-width: $mobile) {
                    flex-direction: column;
                    justify-content: center;
                }

                .card-support {
                    background-color: white;
                    width: calc((100% / 3) - 1rem );
                    padding: 1rem;
                    border-radius: 5%;
                    margin-right: 1rem;

                    a {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;

                        img{
                            max-width: 100px;
                            padding: 1rem;
                            display: block;
                        }
                    }

                    @media screen and (max-width: $mobile) {
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                }

            }

        }
    }
    .footer-bottom{
        width: 100%;
        padding: 1rem;
        text-align: center;
        padding-top: 4rem;

        p{
            font-size: x-small;
            color: white;
        }
    }
}

// SPACER GRAY

.spacer-gray {
    background-color: #eee;
    width: 100%;
    height: 10rem;
}

.spacer {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.series-wrapper {
    background-color: #f5f5f5;
    width : 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h4 {
        font-size: x-large;
        font-weight: 700;
        text-decoration: underline;
    }

    ul {
        width: 100%;
        padding: 10px;

        li {
            width: 100%;
            border-bottom: solid #cccccc 1px;
        }

        li.active {
            background-color: #f5f5f5;
            font-weight: 700;
        }
    }
}

//  pagination

.pagination-wrapper {
    width: 100%;

    ul.pagination {
        display: flex;
        justify-content: center;


        li.page-item {
            margin-left: 5px;
            margin-right: 5px;
            background-color: #313033;
            color: white;
            padding: 0.5rem;
        }

        li.page-item:not(.active):not(.disabled):hover {
            background-color: #182731;
        }

        li.disabled{
            background-color: #0f1a203b;
            a{
                cursor: default;
            }
        }

        li.active{
            background-color:  #313033;
            border: 2px solid white;
            box-shadow: 0 0 0 1px  #313033;
            a{
                cursor: default;
            }
        }
    }
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}
